*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    background-color: #D0D3DF;
    color: #3a3a3a;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}